<div class="Thefooter">
  <footer class="footer">
    <!-- <h3>JOIN US!</h3> -->
    <br /> <br />
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <ul>
            <li>
              <a href="FAQ">FAQ</a>
            </li>
            <li>
              <a href="Investor Relations">Investor Relations</a>
            </li>
            <li>
              <a href="privacy">privacy</a>
            </li>
            <li>
              <a href="Speed Test">Speed Test</a>
            </li>
          </ul>
        </div>
        <div class="footer-col">
          <ul>
            <li>
              <a href="Help Center">Help Center</a>
            </li>
            <li>
              <a href="Jobs">Jobs</a>
            </li>
            <li>
              <a href="Cookie Preferences">Cookie Preferences</a>
            </li>
            <li>
              <a href="Legal Notices">Legal Notices</a>
            </li>
          </ul>
        </div>
        <div class="footer-col">
          <ul>
            <li>
              <a href="Media Center">Media Center</a>
            </li>
            <li>
              <a href="Ways to Watch">Ways to Watch</a>
            </li>
            <li>
              <a href="Terms of Use">Terms of Use</a>
            </li>
            <li>
              <a href="Contact Us">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="footer-col">
          <div class="social-links">
            <a href="fab fa-facebook-f">
              <i class="material-icons">facebook</i>
            </a>
            <a href="fab fa-twitter">
              <i class="material-icons">facebook</i>
            </a>
            <a href="fab fa-instagram">

              <i class="material-icons">facebook</i>
            </a>
            <a href="fab fa-linkedin-in">

              <i class="material-icons">facebook</i>
            </a>
            <div>
              <p class="copyright">GetSitter © 2022</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
