<div class="grid-container">
  <div class="header">
    <h2>Welcome!</h2>
  </div>
  
  <div class="left" style="background-color:#aaa;">Column</div>
  <div class="middle" style="background-color:#bbb;">Column</div>  
  <div class="right" style="background-color:#ccc;">Column</div>
</div>
<div class="info">
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et tempore eligendi eum, id, saepe corporis doloremque facere molestiae minima, exercitationem magnam sit? Quas iure repellendus molestiae omnis cupiditate in. Temporibus.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et tempore eligendi eum, id, saepe corporis doloremque facere molestiae minima, exercitationem magnam sit? Quas iure repellendus molestiae omnis cupiditate in. Temporibus.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et tempore eligendi eum, id, saepe corporis doloremque facere molestiae minima, exercitationem magnam sit? Quas iure repellendus molestiae omnis cupiditate in. Temporibus.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et tempore eligendi eum, id, saepe corporis doloremque facere molestiae minima, exercitationem magnam sit? Quas iure repellendus molestiae omnis cupiditate in. Temporibus.
  </p>
</div>

<div class="home-buttons">
    <button mat-raised-button color="primary" (click)="openLoginPopup()">Login</button>
    <button mat-raised-button color="primary"(click)="openRegisterPopup()">Register</button>
</div>