<!-- <div class="grid-container"> -->
  <!-- <div class="header">
    <h2>Welcome!</h2>
  </div> -->
<!--   
  <div class="left" style="background-color:#aaa;">Column</div>
  <div class="middle" style="background-color:#bbb;">Column</div>  
  <div class="right" style="background-color:#ccc;">Column</div>
</div> -->
<div class="home-body">
  <div className="aboutdv"> 
    <div className="main">
      <span>A</span>
      <span>B</span>
      <span>O</span>
      <span>U</span>
      <span>T</span>
      <span className="letter"></span>
      <span>U</span>
      <span>S</span>
    </div>
    <br />
    <br />
    <div className="pdv">
      <p>
        Want to go out and have no one to look after the kids?
        <br />
        You are in the right place!
        <br />
        We offer the best and most reliable service
        <br />
        All you have to do is choose your babysitter!
      </p>
    </div>
  </div>
  
  <div class="home-buttons" *ngIf="(isUserLogged$ | async) === false">
      <button mat-raised-button color="primary" (click)="openLoginPopup()">Login</button>
      <button mat-raised-button color="primary"(click)="openRegisterPopup()">Register</button>
  </div>
  <div class="home-buttons" *ngIf="isUserLogged$ | async">
    <button mat-raised-button color="primary" (click)="logout()">LogOut</button>
  </div>
</div>


