* {
    margin: 0;
    padding: 0;
  }

  .mat-tab-group {
    margin-top: 30px;
  }
  
  .My-profile {
    font-family: "Garamond";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
  }
  .My-profile,
  h2 {
    margin-top: 24px;
    margin-left: 10px;
  }
  
  .My-profile-details {
    margin-left: 5px;
  }
  .details1,
  .details2,
  .details3,
  .details4,
  .details5,
  .details6 {
    width: 300px;
    height: 40px;
    background-color: #eee;
    margin: 0.5em;
    padding: 0;
    border-radius: 4px;
    display: flex;
  }
  
  .form {
      display: flex;
      flex-direction: column;
      width:500px;
    }
 