<mat-tab-group mat-align-tabs="start">
  <mat-tab label="My profile">
    <form>
      <div class="My-profile">
        <h2>
          {{ (profile | async)?.firstname | uppercase }}
          {{ (profile | async)?.lastname | uppercase }}
        </h2>
        <div class="My-profile-details">
          <div class="details1">
            <span>City: </span>{{ (profile | async)?.city }}
          </div>
          <div class="details2">
            <span>Address: </span>{{ (profile | async)?.homeaddress }}
          </div>
          <div class="details3">
            <span>Phone-number: </span>{{ (profile | async)?.phonenumber }}
          </div>
          <div class="details4">
            <span>Age: </span>{{ (profile | async)?.age }}
          </div>
          <div class="details5">
            <span>About me: </span>{{ (profile | async)?.about }}
          </div>
          <div class="details6">
            <span>My type: </span>{{ (profile | async)?.type }}
          </div>
        </div>
      </div>
    </form>
  </mat-tab>

  <mat-tab label="Edit my profile">
      <div class="card-header">Account Details</div>
      <div class="card-body">
        <form [formGroup]="userprofileForm" class="form">
        <mat-form-field appearance="fill">
          <mat-label>About Me</mat-label>
             <input matInput formControlName="about" placeholder="Tell me about you" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>City</mat-label>
             <input matInput formControlName="city" placeholder="Where are you living?" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
             <input matInput formControlName="homeaddress" placeholder="What is your address?" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Phone number</mat-label>
             <input matInput formControlName="phonenumber" placeholder="What is your number" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Age</mat-label>
          <input matInput formControlName="age" placeholder="How old are you?" />
        </mat-form-field>

        <mat-form-field appearance="fill">
        <mat-label>Select your type</mat-label>
        <mat-select formControlName="type">
          <mat-option value="Sitter">Sitter</mat-option>
          <mat-option value="Parent">Parent</mat-option>
        </mat-select>
      </mat-form-field>
          <button
            class="btn btn-primary" type="button" (click)="updateMyProfile()">Save changes</button>
        </form>
      </div>
  </mat-tab>
</mat-tab-group>
