.mat-toolbar.mat-primary {
    background: rgb(250,215,223);
    background: radial-gradient(circle, rgba(230,247,246,1) 32%, rgba(253,228,233,1) 95%); 
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 0px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.logoImg {
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 25%;
  }
